# Data Cleaning
# Khalimatus Sakdiyah_06211640007002

In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('ILPD.csv')
data

,Age,Gender,Total Bilirubin,Direct Bilirubin,Alkphos,SGPT,SGOT,Tottal Proteins,Albumin,A/G,Experts
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
5,46,Male,1.8,0.7,208,19,14,7.6,4.4,1.30,1
6,26,Female,0.9,0.2,154,16,12,7.0,3.5,1.00,1
7,29,Female,0.9,0.3,202,14,11,6.7,3.6,1.10,1
8,17,Male,0.9,0.3,202,22,19,7.4,4.1,1.20,2
9,55,Male,0.7,0.2,290,53,58,6.8,3.4,1.00,1
10,57,Male,0.6,0.1,210,51,59,5.9,2.7,0.80,1
11,72,Male,2.7,1.3,260,31,56,7.4,3.0,0.60,1
12,64,Male,0.9,0.3,310,61,58,7.0,3.4,0.90,2
13,74,Female,1.1,0.4,214,22,30,8.1,4.1,1.00,1
14,61,Male,0.7,0.2,145,53,41,5.8,2.7,0.87,1
15,25,Male,0.6,0.1,183,91,53,5.5,2.3,0.70,2
16,38,Male,1.8,0.8,342,168,441,7.6,4.4,1.30,1
17,33,Male,1.6,0.5,165,15,23,7.3,3.5,0.92,2
18,40,Female,0.9,0.3,293,232,245,6.8,3.1,0.80,1
19,40,Female,0.9,0.3,293,232,245,6.8,3.1,0.80,1
20,51,Male,2.2,1.0,610,17,28,7.3,2.6,0.55,1
21,51,Male,2.9,1.3,482,22,34,7.0,2.4,0.50,1
22,62,Male,6.8,3.0,542,116,66,6.4,3.1,0.90,1
23,40,Male,1.9,1.0,231,16,55,4.3,1.6,0.60,1
24,63,Male,0.9,0.2,194,52,45,6.0,3.9,1.85,2
25,34,Male,4.1,2.0,289,875,731,5.0,2.7,1.10,1
26,34,Male,4.1,2.0,289,875,731,5.0,2.7,1.10,1
27,34,Male,6.2,3.0,240,1680,850,7.2,4.0,1.20,1
28,20,Male,1.1,0.5,128,20,30,3.9,1.9,0.95,2
29,84,Female,0.7,0.2,188,13,21,6.0,3.2,1.10,2
...,...,...,...,...,...,...,...,...,...,...,...
553,46,Male,10.2,4.2,232,58,140,7.0,2.7,0.60,1
554,73,Male,1.8,0.9,220,20,43,6.5,3.0,0.80,1
555,55,Male,0.8,0.2,290,139,87,7.0,3.0,0.70,1
556,51,Male,0.7,0.1,180,25,27,6.1,3.1,1.00,1
557,51,Male,2.9,1.2,189,80,125,6.2,3.1,1.00,1
558,51,Male,4.0,2.5,275,382,330,7.5,4.0,1.10,1
559,26,Male,42.8,19.7,390,75,138,7.5,2.6,0.50,1
560,66,Male,15.2,7.7,356,321,562,6.5,2.2,0.40,1
561,66,Male,16.6,7.6,315,233,384,6.9,2.0,0.40,1
562,66,Male,17.3,8.5,388,173,367,7.8,2.6,0.50,1
563,64,Male,1.4,0.5,298,31,83,7.2,2.6,0.50,1
564,38,Female,0.6,0.1,165,22,34,5.9,2.9,0.90,2
565,43,Male,22.5,11.8,143,22,143,6.6,2.1,0.46,1
566,50,Female,1.0,0.3,191,22,31,7.8,4.0,1.00,2
567,52,Male,2.7,1.4,251,20,40,6.0,1.7,0.39,1
568,20,Female,16.7,8.4,200,91,101,6.9,3.5,1.02,1
569,16,Male,7.7,4.1,268,213,168,7.1,4.0,1.20,1
570,16,Male,2.6,1.2,236,131,90,5.4,2.6,0.90,1
571,90,Male,1.1,0.3,215,46,134,6.9,3.0,0.70,1
572,32,Male,15.6,9.5,134,54,125,5.6,4.0,2.50,1
573,32,Male,3.7,1.6,612,50,88,6.2,1.9,0.40,1
574,32,Male,12.1,6.0,515,48,92,6.6,2.4,0.50,1
575,32,Male,25.0,13.7,560,41,88,7.9,2.5,2.50,1
576,32,Male,15.0,8.2,289,58,80,5.3,2.2,0.70,1
577,32,Male,12.7,8.4,190,28,47,5.4,2.6,0.90,1
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [6]:
data.shape

(583, 11)

In [8]:
data.head(n=5)

,Age,Gender,Total Bilirubin,Direct Bilirubin,Alkphos,SGPT,SGOT,Tottal Proteins,Albumin,A/G,Experts
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [9]:
data.tail(n=10)

,Age,Gender,Total Bilirubin,Direct Bilirubin,Alkphos,SGPT,SGOT,Tottal Proteins,Albumin,A/G,Experts
573,32,Male,3.7,1.6,612,50,88,6.2,1.9,0.40,1
574,32,Male,12.1,6.0,515,48,92,6.6,2.4,0.50,1
575,32,Male,25.0,13.7,560,41,88,7.9,2.5,2.50,1
576,32,Male,15.0,8.2,289,58,80,5.3,2.2,0.70,1
577,32,Male,12.7,8.4,190,28,47,5.4,2.6,0.90,1
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [10]:
data.describe()

,Age,Total Bilirubin,Direct Bilirubin,Alkphos,SGPT,SGOT,Tottal Proteins,Albumin,A/G,Experts
count,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,579.000000,583.000000
mean,44.746141,3.298799,1.486106,290.576329,80.713551,109.910806,6.483190,3.141852,0.947064,1.286449
std,16.189833,6.209522,2.808498,242.937989,182.620356,288.918529,1.085451,0.795519,0.319592,0.452490
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,0.800000,0.200000,175.500000,23.000000,25.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,0.300000,208.000000,35.000000,42.000000,6.600000,3.100000,0.930000,1.000000
75%,58.000000,2.600000,1.300000,298.000000,60.500000,87.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [12]:
data['Gender'].value_counts()

Male      441
Female    142
Name: Gender, dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
Age                  583 non-null int64
Gender               583 non-null object
Total Bilirubin      583 non-null float64
 Direct Bilirubin    583 non-null float64
 Alkphos             583 non-null int64
 SGPT                583 non-null int64
 SGOT                583 non-null int64
Tottal Proteins      583 non-null float64
 Albumin             583 non-null float64
A/G                  579 non-null float64
Experts              583 non-null int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

## Imputation Missing Value

In [14]:
np.sum(data.isnull()) #number of NA for each variable, jumlah missing value per variabel

Age                  0
Gender               0
Total Bilirubin      0
 Direct Bilirubin    0
 Alkphos             0
 SGPT                0
 SGOT                0
Tottal Proteins      0
 Albumin             0
A/G                  4
Experts              0
dtype: int64

In [15]:
data.isnull().sum() #sama kayak yang atas

Age                  0
Gender               0
Total Bilirubin      0
 Direct Bilirubin    0
 Alkphos             0
 SGPT                0
 SGOT                0
Tottal Proteins      0
 Albumin             0
A/G                  4
Experts              0
dtype: int64

In [16]:
data.isnull().sum().sum() #penjumlahan missing value semua variabel

4

In [17]:
#imputasi missing value data numerik
data['A/G'] = data['A/G'].fillna((data['A/G'].mean())) 
data.isnull().any()

Age                  False
Gender               False
Total Bilirubin      False
 Direct Bilirubin    False
 Alkphos             False
 SGPT                False
 SGOT                False
Tottal Proteins      False
 Albumin             False
A/G                  False
Experts              False
dtype: bool

In [18]:
#imputasi data kategorik dengan modus sesuai kolom masing2
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))
data.isnull().any()

Age                  False
Gender               False
Total Bilirubin      False
 Direct Bilirubin    False
 Alkphos             False
 SGPT                False
 SGOT                False
Tottal Proteins      False
 Albumin             False
A/G                  False
Experts              False
dtype: bool

## Encode Labels

In [20]:
from sklearn.preprocessing import LabelEncoder

In [25]:
# Encode untuk Sex, Steroid, Anaroxia, Spleen Pabable, Spiders tanpa membuat kolom baru
data['Gender'] = LabelEncoder().fit_transform(data['Gender'])
data.head()

,Age,Gender,Total Bilirubin,Direct Bilirubin,Alkphos,SGPT,SGOT,Tottal Proteins,Albumin,A/G,Experts
0,65,0,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,1,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,1,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40,1